{% load static %}
<html>
    <head>
        <title>Scott's Cool Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    </head>
    <body>
        <div id="header">  {# header begins here #}
            <ul id="control-bar">
            {% if user.is_authenticated %}
                <li>Hello {{ user.username }} </li>
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">login</a></li>
            {% endif %}
            </ul>
        </div>              {# header ends here #}
        <div id="container">
            {% block content %}
            [content will go here]
            {% endblock %}
        </div>
    </body>
</html>